.auth-text {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
}

.logo.auth-text {
    font-weight: 400;
}

#AuthForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 700px;
    min-height: 400px;
}

#auth {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}